/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 16 Feb, 2015, 6:47:10 PM
    Author     : ARK-9
*/

.errorMessage { 
    color: #d9534f;
}


.fr .signin-btn {
    font-size: 15px;
}

.fr .all-suppliers-btn {
    font-size: 14px;
}

.fr .find-btn {
    font-size: 21px;
}

.event a {
    background-color: #42B373 !important;
    background-image :none !important;
    color: #ffffff !important;
}

.pro-login .errorMessage { 
    color: #000000;
    font-size: 11px;
}    

.flashmessage { 
    margin-top: 25px;
}

.ui-datepicker {
    width:100%;
}

.ui-widget-header {
    background:#268BB9;
    color: #FFFFFF;
    font-weight: bold;
}

.ui-datepicker td span, .ui-datepicker td a {
    padding: 0.2em;
    text-align: center;
}

.ui-datepicker-prev, .ui-datepicker-next
{
    // display: none;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-radius:0px;
}

.ui-widget-content {
    border:none;
}

#datepicker-Inline-sidebar_container
{
    padding: 0.2em;
    text-align: center;
}

#datepicker-Inline-sidebar_container .ui-datepicker table {
    border-collapse: collapse;
    font-size: 10px;
}

#datepicker-Inline-sidebar_container .ui-datepicker .ui-datepicker-title {
    font-size: 10px;
}

#datepicker-Inline-sidebar_container ui-datepicker td span, .ui-datepicker td a {
    padding: 0;
    text-align: center;
}

.ad2{
    text-align: center;
}

.search-list{
    float: none !important;
}

.search-list h4 {
    border-bottom: 1px solid #f0f0f0;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 15px 0;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 0px;
}

.pagination-cont{
    width: 100%;
    float: left;
}

.search-list ul
{
    float: none !important;
}

.company-infom ul{
    padding: 0px;
    margin: 15px 0px;
    margin-top: 0px;
}

.company-infom ul li
{
    padding: 0px 0px;
}

//POLL
#poll-form .form-radio,
#portlet-poll-form .form-radio {
    //float: left;
    // width: 2em;
}
#poll-form .pollchoice-id,
#portlet-poll-form .pollchoice-id {
    display: none;
    visibility: hidden;
}

.poll-results .result {
    font-size: 12px!important;
}
.poll-results {
    margin-bottom: .5em;
    overflow: hidden;
}
.poll-results .label {
    font-weight: bold;
}
.poll-results .bar {
    background-color: #FFF;
    height: 1em;
    /*  margin: .5em 0;*/
}
.poll-results .bar .fill {
    background-color: #298DCD;
    height: 1em;
}
.poll-results .totals {
    text-align: right;
}


.poll-item {
    position: relative;
}
.poll-item .poll-id {
    //color: #dedede;
    //font-size: 24px;
    // font-weight: bold;
    position: absolute;
    // right: 5px;
    // top: 5px;
}

.optinews-left-bg.polls-bg {
    padding: 10px;
}

#portlet-poll-form label {
    font-size : 13px;
    font-weight: 400;

}

// Supplier form - selected product display
.bckrnd
{
    background-color: #FFF !important;    
}

.active2 {   
    padding: 2px 1px!important;
    background: #F0F0F0 none repeat scroll 0 0 !important;   
}

.active2 a{
    color: #000 !important;
}

.active a {
    background: #398aca none repeat scroll 0 0 !important;
    color: #ffffff !important;
}

#calendar .content {    
    font-weight: normal;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

#calendar a.allEvent {   
    color: #46698f;
    font-weight: bold;
    padding: 0 0 0 12px;
    position: relative;
}

#calendar h4.eventList {
    text-align: center;
}

#calendar .date {
    clear: both;
    color: #000;
    display: block;
    font-weight: bold;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background: none !important;
}

.ui-corner-all{    
    border: none !important;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: block;
    left: 50%;
    margin-left: -8px;
    margin-top: -11px;
    position: relative;
    top: 50%;
}

.poll-label{
    padding: 13px 0 0;
}

.mapgenrate {
    font-size: 12px !important;
    padding: 6px!important;
    text-align: center!important;
}
.mapgenrate:hover {
    background: none !important;
}

.user-right tr.highlight{
    background: #d9edf7 none repeat scroll 0 0;
}

#repbox {
    margin-right: 0;
}

.repbox{
    background: white none repeat scroll 0 0;
    color: #222;
    float: left;
    height: 350px;
    overflow: auto;
    padding: 0;
    width: 100%;
}

.poll-nocont {    
    float: left;
    margin-top: 10px;
    padding: 15px;
    width: 100%;
}

.page{

    text-align:center;
}


.page b{
    font-size:200px;
    color: #f0f0f0;
    line-height: 200px;
}


.icon_counter_red {
    background-color      : #f00;
}

.icon_counter {
    color                 : #fff;
    font-family           : "Arial";
    font-size             : 14px;
    font-weight           : 600;
    position              : absolute;
    padding               : 0px 2px;
    margin-top            : 6px;
    margin-left           : -3px;
    -webkit-border-radius : 3px;
    -moz-border-radius    : 3px;
    border-radius         : 3px;
    -webkit-box-shadow    : inset 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow       : inset 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
    box-shadow            : inset 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
}

.search-results{
    border-bottom: none;
    float: left;
    line-height: 25px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    width: 100%;
}

.search-results span {
    color: #ffffff;
    float: right;
    font-size: 13px;
    padding: 5px;
    width: auto;
}

.search-results span.newscolor{
    background: #8e090e none repeat scroll 0 0;
}  

.search-results span.eventcolor{
    background: #3B4552 none repeat scroll 0 0;
}  

.search-results span.misccolor{
    background: #42b373 none repeat scroll 0 0;
}  

.search-results h4 a {
    color: #0B7ECF;
}

.subscribe-btncont a.sendrequest{
    display:inline;       
    font-family: "Raleway",sans-serif;
    font-size: 14px;
    padding: 6px;
    text-transform: none;
}

.subscribe-btncont a.sendrequest:hover
{
    background:none;
}

.paidmems
{
    font-size: 15px;
    color:#337ab7;
}

.subscribe-btncont a.selectmarque
{
    display:inline;       
    font-family: "Raleway",sans-serif;
    font-size: 14px;
    padding: 6px;
    text-transform: none;
}

.subscribe-btncont a.selectmarque:hover
{
    background:#fff;
}

.dispmarques
{
    font-family: "Raleway",sans-serif;
    font-size: 12px;   
}

.paypal_btn {
    border: medium none;
    width: 200px;
    background: none;
}

#price, #paypal_align{
    text-align: right;   
}

.creditcardtbl , #creditcard{
    margin-top: 20px;   
}

#creditcard .required {
    float: none !important;
}

.inner-container ul{
    margin: 0px;
    padding: 0px;
}

.ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
    margin-bottom: 20px;
}

.inner-container ul.renewal li {
    background: url(../images/icon.png) 0px 11px no-repeat;
    list-style-type: none;
    padding: 10px 0 10px 22px;
}

.inner-container ul.renewal{
    margin-bottom: 20px;    
}

.dropdown-menu ul li {
    background: none;
    padding: 0px;
}

.classified a{
    background: none !important;
}

.classified .active a{
    color: #555 !important;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
}

.nav > li > a {
  display: block;
  padding: 10px 8px;
  position: relative;
}

.homepage-popup{
    top:30%;
}

.confirmation-cont {
    background: #f0f0f0 none repeat scroll 0 0;    
    padding: 4px;
}

.confirmation-cont.nolink a {
    background:#961B1D none repeat scroll 0 0;  
}

.confirmation-cont a {
    background: #74C374 none repeat scroll 0 0;
    color: #ffffff;
    padding: 8px 21px;
    width: auto !important;
}