@charset "utf-8";
/* CSS Document */

body
{
	font-family: 'Raleway', sans-serif;
	font-size:15px;
	color:#2e2e2e;
	line-height:22px;
}
img {
	max-width:100%;
	height:auto
}

.header
{
	width:100%;
	float:left;
}

.header-row1
{
	width:100%;
	float:left;
	background:url(../images/header-bg1.jpg) #0b7ecf repeat-x;
}


/*menu */

.content {
	margin: 20px auto;
}
.orion-menu {
	margin-top: 0px;
	margin-bottom:0px;
}

.orion-menu {
	width: 100%;
	padding: 0;
	position: relative;
	float: left;
	list-style: none;
	text-align:right
}
.orion-menu li {
	display: inline;
	font-size: 14px;
	margin: 0;
	line-height: 20px;
	position: relative;
	padding:0px 5px 0px 5px;
	font-weight:300;
}

.orion-menu li:last-child
{
	background:none;
}

.orion-menu li ul li
{
	background:none;
}



.orion-menu li a {
	padding:8px 12px 8px 12px;
	color: #ffffff !important;
	text-decoration: none;
	display: inline-block;
-o-transition: color .3s linear, background .3s linear;
-webkit-transition: color .3s linear, background .3s linear;
-moz-transition: color .3s linear, background .3s linear;
transition: color .3s linear, background .3s linear;
}
.orion-menu li:hover > a {
	color: #fff;
	background:#0760b2;
	text-decoration:none;
}
.orion-menu li.active > a {
	background: #ffffff;
}
.orion-menu > li > a {
	
}


/* DROPDOWN */
.orion-menu ul, .orion-menu ul li ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;
	position: absolute;
	z-index: 999;
	width: 200px;
	background: #454545;
}
.orion-menu ul {
	top: 30px;
	left: 0;
}


.orion-menu ul li ul {
	top: 0;
	left: 150px;
}
.orion-menu ul li {
	clear:both;
	width:100%;
	font-size:14px;
	
}
.orion-menu ul li a {
	width:100%;
	padding:9px 22px;
	display:inline-block;
	float:left;
	clear:both;
	border-bottom:#e5151e solid 1px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.orion-menu ul li:hover > a {

}/* DROPDOWN ARROWS*/
.orion-menu .indicator {
	color: #ffffff;
	position: absolute;
	right: 8px;
	top: 24px;
	font-family: 'FontAwesome';
	font-size: 12px;
	
}


.orion-menu .indicator {
background-color: #ffffff;
cursor: pointer;
display: block;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
height: 20px;
right: 20px;
text-align: center;
top: 18px;
color:#000000;
width: 20px;
display:none;
}


.orion-menu .indicator:before {
	content: "\f0d7";
	/*display:none;*/
}

.orion-menu ul li .indicator {
	right: 20px;
	top: 13px;
	/*display:none;*/
}
.orion-menu ul li .indicator:before {
	content: "\f0da";
	/*display:none;*/
}


/* COLLAPSIBLE CONFIGURATION */
.orion-menu > li.showhide {
	display: none;
	width: 100%;
	height: 40px;
	cursor: pointer;
	color: #ffffff;
	background: #454545;
}
.orion-menu > li.showhide span.title {
	margin: 16px 0 0 18px;
	float: left;
}
.orion-menu> li.showhide span.icon {
	margin: 5px 20px;
	float: right;
	margin-top:15px;
}
.orion-menu > li.showhide .icon em {
	margin-bottom: 3px;
	display: block;
	width: 20px;
	height: 2px;
	background: #ffffff;
}

.overlay {
	background: url(images/overlay-bg.html) repeat;
	width: 150px;
	height: 120px;
	position: absolute;
	display: none;
	left: 0;
	top: 0;
}
/* red */
.red, .red li ul, .red ul li ul, .red > li.showhide {
	background:url(../images/header-bg1.jpg) #0b7ecf repeat-x;
}



@media only screen and (max-width: 1023px) {
	
	.orion-menu li
	{
		background:none;
	}
	
	.content {
	margin: 0px auto;
}
.orion-menu {
margin: 0;
display: block;
position:relative !important;
left:0px;
z-index:99;
}
.orion-menu li {
display: block;
width: 100%;
font-size:14px;
}
.orion-menu > li > a {
padding: 10px 70px 10px 18px;
text-align: left;
border-top: solid 1px rgba(255, 255, 255, 0.05);
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
}
.orion-menu a {
width: 100%;
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
}
.orion-menu ul, .orion-menu ul li ul {
width: 100%;
left: 0;
padding: 0 20px;
position: static;
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
}
.orion-menu .indicator {
right: 20px;
top: 18px;
}
.orion-menu ul li .indicator {
display: block !important;
}
.orion-menu ul li .indicator:before {
content: "\f0d7";
}



.orion-menu .indicator
{
	display:block !important;
}

}

.loginbg
{
	background:#2e2e2e;
	color:#ffffff;
	display:block;
}

.header-row2
{
	width:100%;
	float:left;
	background:url(../images/header-bg2.jpg) repeat-x;
	min-height:100px;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
-moz-box-shadow:    0px 1px 5px 0px rgba(0, 0, 0, 0.5);
box-shadow:         0px 1px 5px 0px rgba(0, 0, 0, 0.5);
padding:15px 0px 15px 0px;
}

.logo
{
	margin-top:25px;
}

.ad1
{
	text-align:right;
}

.body-cont
{
	width:100%;
	float:left;
}

.pro-login
{
	width:100%;
	float:left;
	background:#0b7ecf;
	padding:10px;
	color:#ffffff;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin-top:25px;
font-size:14px;
padding-bottom:5px;
}



.pro-login a
{
	text-decoration:none;
	color:#ffffff;
	font-size:13px;
}


.pro-login a:hover
{
	text-decoration:underline;
}

.login-heading
{
	width:100%;
	float:left;
	border-bottom:#ffffff solid 1px;
	padding-bottom:5px;
	font-size:18px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:400;
	line-height:20px;
}

.login-heading i
{
	float:left;
	font-size:35px;
	margin-right:5px;
}

.login-field
{
	border:none;
	width:100%;
	height:32px;
	background:#ffffff;
	margin-top:10px;
	margin-bottom:5px;
	color:#2e2e2e;
	padding:10px;
}


.signin-btn-cont
{
	width:100%;
	float:left;
	text-align:center;
}
.signin-btn
{
	margin:10px auto;
	background:#3b4552;
	height:35px;
	color:#fffffff;
	border:none;
	font-size:18px;
	padding:0px 25px;

}
.signin-btn:hover
{
	background:#2e2e2e;
}

.ad2
{
	width:100%;
	float:left;
	margin-top:25px;
}

.search-bg
{
	width:100%;
	float:left;
	background:url(../images/search-bg.jpg) top center no-repeat;
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:15px 0px;
margin-top:25px;
}

.search-heading
{
	font-size:22px;
	color:#ffffff;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:400;
	text-transform:uppercase;
	border-bottom:#ffffff solid 1px;
	padding-bottom:5px;
	
}

.all-suppliers-btn
{
	width:100%;
	float:left;
	background:#0b7ecf;
	border:#35acff solid 1px;
	height:30px;
	margin-top:10px;
	color:#ffffff;
	text-transform:uppercase;
	font-size:15px;
	font-family: 'Roboto Condensed', sans-serif;
	
}

.search-field
{
	border:none;
	width:100%;
	height:30px;
	background:#ffffff;
	margin-top:10px;
	margin-bottom:5px;
	color:#2e2e2e;
	padding:10px;
}



.bootstrap-select {
  width: 220px \0;
  /*IE9 and below*/
}
.bootstrap-select > .dropdown-toggle {
  width: 100%;
  padding-right: 25px;
}
.has-error .bootstrap-select .dropdown-toggle,
.error .bootstrap-select .dropdown-toggle {
  border-color: #b94a48;
}
.bootstrap-select.fit-width {
  width: auto !important;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%;
}
.bootstrap-select .dropdown-toggle:focus {
  outline: thin dotted #333333 !important;
  outline: 5px auto -webkit-focus-ring-color !important;
  outline-offset: -2px;
}
.bootstrap-select.form-control {
  margin-bottom: 0;
  padding: 0;
  border: none;
}
.bootstrap-select.form-control:not([class*="col-"]) {
  width: 100%;
}
.bootstrap-select.form-control.input-group-btn {
  z-index: auto;
}
.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*="col-"] {
  float: none;
  display: inline-block;
  margin-left: 0;
}
.bootstrap-select.btn-group.dropdown-menu-right,
.bootstrap-select.btn-group[class*="col-"].dropdown-menu-right,
.row .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right {
  float: right;
}
.form-inline .bootstrap-select.btn-group,
.form-horizontal .bootstrap-select.btn-group,
.form-group .bootstrap-select.btn-group {
  margin-bottom: 0;
}
.form-group-lg .bootstrap-select.btn-group.form-control,
.form-group-sm .bootstrap-select.btn-group.form-control {
  padding: 0;
}
.form-inline .bootstrap-select.btn-group .form-control {
  width: 100%;
}
.bootstrap-select.btn-group.disabled,
.bootstrap-select.btn-group > .disabled {
  cursor: not-allowed;
}
.bootstrap-select.btn-group.disabled:focus,
.bootstrap-select.btn-group > .disabled:focus {
  outline: none !important;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  text-align: left;
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -2px;
  vertical-align: middle;
}
.bootstrap-select.btn-group[class*="col-"] .dropdown-toggle {
  width: 100%;
}
.bootstrap-select.btn-group .dropdown-menu {
  min-width: 100%;
  z-index: 1035;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.bootstrap-select.btn-group .dropdown-menu.inner {
  position: static;
  float: none;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.bootstrap-select.btn-group .dropdown-menu li {
  position: relative;
}
.bootstrap-select.btn-group .dropdown-menu li.active small {
  color: #fff;
}
.bootstrap-select.btn-group .dropdown-menu li.disabled a {
  cursor: not-allowed;
}
.bootstrap-select.btn-group .dropdown-menu li a {
  cursor: pointer;
}
.bootstrap-select.btn-group .dropdown-menu li a.opt {
  position: relative;
  padding-left: 2.25em;
}
.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
  display: none;
}
.bootstrap-select.btn-group .dropdown-menu li a span.text {
  display: inline-block;
}
.bootstrap-select.btn-group .dropdown-menu li small {
  padding-left: 0.5em;
}
.bootstrap-select.btn-group .dropdown-menu .notify {
  position: absolute;
  bottom: 5px;
  width: 96%;
  margin: 0 2%;
  min-height: 26px;
  padding: 3px 5px;
  background: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  pointer-events: none;
  opacity: 0.9;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.bootstrap-select.btn-group .no-results {
  padding: 3px;
  background: #f5f5f5;
  margin: 0 5px;
  white-space: nowrap;
}
.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option {
  position: static;
}
.bootstrap-select.btn-group.fit-width .dropdown-toggle .caret {
  position: static;
  top: auto;
  margin-top: -1px;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
  position: absolute;
  display: inline-block;
  right: 15px;
  margin-top: 5px;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
  margin-right: 34px;
}
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle {
  z-index: 1036;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
  content: '';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(204, 204, 204, 0.2);
  position: absolute;
  bottom: -4px;
  left: 9px;
  display: none;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  bottom: -4px;
  left: 10px;
  display: none;
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
  bottom: auto;
  top: -3px;
  border-top: 7px solid rgba(204, 204, 204, 0.2);
  border-bottom: 0;
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
  bottom: auto;
  top: -3px;
  border-top: 6px solid white;
  border-bottom: 0;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
  right: 12px;
  left: auto;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
  right: 13px;
  left: auto;
}
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before,
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after {
  display: block;
}
.bs-searchbox,
.bs-actionsbox,
.bs-donebutton {
  padding: 4px 8px;
}
.bs-actionsbox {
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.bs-actionsbox .btn-group button {
  width: 50%;
}
.bs-donebutton {
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.bs-donebutton .btn-group button {
  width: 100%;
}
.bs-searchbox + .bs-actionsbox {
  padding: 0 8px 4px;
}
.bs-searchbox .form-control {
  margin-bottom: 0;
  width: 100%;
}
select.bs-select-hidden,
select.selectpicker {
  display: none !important;
}
select.mobile-device {
  position: absolute !important;
  top: 0;
  left: 0;
  display: block !important;
  width: 100%;
  height: 100% !important;
  opacity: 0;
}

.btn.dropdown-toggle.btn-default
{
	-webkit-border-radius: 0px !important;
-moz-border-radius: 0px !important;
border-radius: 0px !important;
}

.btn.dropdown-toggle
{
	margin-top:10px;
	padding:4px 10px;
}


.dropdown-menu li a
{
	outline:none;
}

.find-btn
{
	width:100%;
	float:left;
	background:#014898;
	border:#35acff solid 1px;
	height:30px;
	margin-top:10px;
	color:#ffffff;
	text-transform:uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:25px;
	
}

.welcome-cont
{
	width:100%;
	float:left;
	margin:25px 0px 0px 0px;
}

.welcome-cont h2
{
	font-size:22px;
	border-bottom:#f0f0f0 solid 1px;
	padding-bottom:10px;
	text-transform:uppercase;
	color:#2e2e2e;
	margin:0px;
	margin-bottom:15px;
}

.welcome-cont a
{
	color:#ffffff;
	background:#0b7ecf;
	padding:4px;
}

.opti-rep-cont
{
	background:#f0f0f0;
	width:100%;
	float:left;
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:15px;
margin-top:25px;
}

.opti-rep-cont a
{
	color:#ffffff;
	background:#0b7ecf;
	padding:4px;
}

.opti-rep-logo
{
	width:100%;
	float:left;
	margin-bottom:5px;
	text-align:center;
}

.latest-newscont
{
	background:#f0f0f0;
	width:100%;
	float:left;
padding:15px;
margin-top:25px;
}

.latest-newscont h2
{
	font-size:22px;
	border-bottom:#2e2e2e solid 1px;
	padding-bottom:10px;
	text-transform:uppercase;
	color:#2e2e2e;
	margin:0px 0px 15px 0px;
}

.news-cont
{
	width:100%;
	float:left;
	margin:5px 0px 18px 0px;
}

.news-date
{
	width:50px;
	height:50px;
	background:#3b4552;
	text-align:center;
	color:#ffffff;
	font-size:18px;
	float:left;
}


.news-txt
{
	width:80%;
	float:left;
	margin-left:15px;
}

.news-txt a
{
	color:#2e2e2e;
}


.basic-btn
{
	background:#0b7ecf;
	padding:#0b7ecf;
	padding:5px 10px;
	color:#ffffff;
	border:none;
}

.right
{
	float:right;
}

.basic-btn:hover
{
	color:#ffffff;
	text-decoration:none;
	background:#3b4552;
}

.calendar-bg
{
	background:#3b4552;
	width:100%;
	float:left;
padding:15px;
margin-top:25px;
}

.calendar-bg h2
{
	font-size:22px;
	border-bottom:#ffffff solid 1px;
	padding-bottom:10px;
	text-transform:uppercase;
	color:#ffffff;
	margin:0px 0px 15px 0px;
}

.center-ad
{
	width:100%;
	float:left;
	text-align:center;
	margin-top:25px;
}

.ad3
{
	width:100%;
	float:left;
	margin-top:25px;
}

.submenu
{
	background:#3b4552
}

.footer-bg
{
	width:100%;
	float:left;
	background:#3b4552;
	margin:25px 0px 0px 0px;
	padding:25px 0px;
	color:#ffffff;
	font-size:13px;
}

.footer-bg a
{
	color:#ffffff;
	text-decoration:none;
}


.footer-bg a:hover
{
	text-decoration:underline;
}

.footer-logo
{
	text-align:right;
	
}

.footer-menu
{
	width:100%;
	float:left;
}

.footer-menu ul
{
	margin:0px;
	padding:0px;
	text-align:left;
}

.footer-menu ul li
{
	background:url(../images/spe.png) right no-repeat;
	list-style:none;
	display:inline;
	padding:0px 5px 0px 5px;
}

.footer-menu ul li:last-child
{
	background:none;
}

.navbar-brand
{
	display:none;
}
.nav.navbar-nav {
  width: 100%;
  text-align: center;
}

.submenu-cont
{
	width:100%;
	float:left;
	height:50px;
	z-index:9;
	position:relative;
}

.subscribe-btncont
{
	
}

.subscribe-btncont a
{
	padding:6px;
	display:block;
	text-align:center;
	text-transform:uppercase;
	font-weight:600;
	font-size:18px;
}
.subscribe-btncont a:hover
{
	background:#3b4552;
}

.subscribe-btncont a:hover
{
}

a, input, button {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

a:hover
{
	text-decoration:none;
}

.subscribe-btn1
{
	background:#3b4552 !important;
}

.forms-cont
{
	width:100%;
	float:left;
	background:#f0f0f0;
	padding:15px;
	margin:0px 0px 25px 0px;
}

.forms-heading
{
	width:100%;
	float:left;
	background:#f0f0f0;
	  background: none repeat scroll 0 0 #0b7ecf;
  border: 1px solid #35acff;
  color: #ffffff;
  font-family: "Roboto Condensed",sans-serif;
  font-size: 20px;
  padding:10px;
  text-transform:uppercase;
  margin-bottom:10px;
}


.form-row1
{
	width:100%;
	float:left;
	margin:20px 0px 0px 0px;
}

.form-row1 option
{
	padding:5px;
}

.form-row1 option
{
	border:none;
}

.form-row1 label
{
	font-weight:normal;
	padding-top:5px;
}

.form-row1 select
{
border: 1px solid #e5e4e4;
}

.form-row1 textarea 
{
border: 1px solid #e5e4e4;
width:100%;
height:100px;
}



.form-txtfield
{
	border:none;
	border:#e5e4e4 solid 1px;
	padding:5px;
	height:35px;
	width:100%;
}



.inner-container
{
	width:100%;
	float:left;
	margin:25px 0px 0px 0px;
}

.inner-container h2
{
	font-size:22px;
	border-bottom:#f0f0f0 solid 1px;
	padding-bottom:10px;
	text-transform:uppercase;
	color:#2e2e2e;
	margin:0px;
	margin-bottom:15px;
}

.inner-container .btn.dropdown-toggle {
	margin:0px;
  padding: 5px 10px;
}

.inner-container .dropdown-menu li a
{
	text-transform:none;
	font-size:14px;
	text-align:left !important; 
}


.form-row1 label span
{
	font-size:13px;
}


.form-row1 .icheckbox_flat-blue
{
	margin-bottom:5px;
}

.secation-heading
{
	width:100%;
	float:left;
	margin:25px 0px 10px 0px;
}

.secation-heading span
{
	background:#4e4e4e;
	color:#ffffff;
	font-weight:bold;
	font-size:18px;
	padding:5px;
	text-transform:uppercase;
	line-height:35px
}

.submit-btn
{
	width:100%;
	float:left;
	background:#0b7ecf;
	border:#35acff solid 1px;
	height:40px;
	margin-top:10px;
	color:#ffffff;
	font-size:20px;
	font-family: 'Roboto Condensed', sans-serif;
	
}

.submit-btn:hover
{
	background:#3b4552;
	border:#2f3845 solid 1px;
}

.iCheck-helper 
{
	padding:5px;
}


.form-row1 input[type=radio]
{
	margin-right:5px !important
}

.subscribe-btn
{
	color:#ffffff;
	background:#0b7ecf;
}

.subscribe-btn:hover
{
	color:#ffffff;
}


.contact-cont
{
	width:100%;
	float:left;
	border:#e5e5e5 solid 1px;
	padding:10px;
	margin:15px 0px 15px 0px;
}

.txtfield{
  margin-top: 10px;
  padding: 4px 10px;
  width:100%;
  border:none;
}

.eventslist-cont
{
	width:100%;
	float:left;
	margin:25px 0px 0px 0px;
}

.search-list
{
	width:100%;
	float:left;
	margin:0px 0px 0px 0px;
	
}

.search-list h2
{
	margin:0px 0px 0px 0px;
	font-size:18px;
	border:none;
	background:#f0f0f0;
	padding:10px;
	float:left;
	width:100%;
	font-weight:700;
	font-family: 'Roboto Condensed', sans-serif;
}

.search-list ul
{
	float:left;
	margin:10px 0px 25px 0px;
	padding:0px;
	
}

.search-list ul li
{
	list-style:none;
	padding:0px 0px 15px 0px;
}

.search-list ul li a
{
	color:#8e090e;
	font-weight:700;
}

.search-list ul li a:hover
{
	text-decoration:underline
}

.optinews-left
{
	width:100%;
	float:left;
	margin:25px 0px 0px 0px;
}

.optinews-left-heading
{
	width:100%;
	float:left;
	background:#0b7ecf;
	padding:5px 10px;
	color:#ffffff;
	text-transform:uppercase;
	-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:16px;
}

.optinews-left-bg
{
	background:#f0f0f0;
	padding:5px;
	-webkit-border-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
width:100%;
	float:left;
}


.optinews-left-bg ul
{
	width:100%;
	float:left;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-size:13px;
	list-style:none;
}

.optinews-left-bg ul li
{
	padding:0px 0px 7px 15px;
	background:url(../images/tick.png) 0px 6px no-repeat;
	font-size:13px;
}

.optinews-left-bg ul li a
{
	color:#2e2e2e;
}

.optinews-left-bg ul li a:hover
{
	text-decoration:underline;
}

.optinews-left-bg h4 {
  font-size: 16px;
  margin:0px;
  padding:0px;
  border-bottom:#e5e5e5 solid 1px;
  padding-bottom:5px;
  margin-bottom:5px;
}


.event-details-txt
{
	margin-top:15px;
	line-height:34px;
}

.event-details-txt a
{
	color:#8e090e;
}

.news-thumbs
{
	width:100%;
	float:left;
	line-height:25px;
	 border-bottom:#e5e5e5 solid 1px;
	 padding-bottom:10px;
	 margin-bottom:20px
}

.news-thumbs h4
{
	float:left;
	width:100%;
	font-weight:700;
	
}

.news-thumbs h4 a
{
	color:#4e4e4e;
}

.news-thumbs span
{
	color:#ffffff;
	background:#8e090e;
	width:90px;
	padding:5px;
	float:right;
	font-size:14px;
	
}

.news-details
{
	border-bottom:none;
}

.news-details img
{
	float:left;
	margin-right:15px;
}



.news-details h4
{
	 border-bottom:#e5e5e5 solid 1px;
	 padding-bottom:10px;
}

/* For French lang changes */
.fr .all-suppliers-btn {
  font-size: 14px;

}

.fr .find-btn {
    font-size: 22px;  
}

.fr .signin-btn {
    font-size: 15px; 
}