/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
input.subscription_types {
    display:none; 
}

.subscription-cont.selected{
    /*Opacity*/
    zoom: 1;
    opacity: 0.45;
}

.active-stpe h4{
    color: #FFFFFF;
}

.search-list ul {
    float: none !important;
    margin: 0 !important;
}

.addfav {
    margin-bottom: 9px;
}


.addfav-btn{
    text-align:right;
    background:#f0f0f0;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius:2px;
    padding: 7px;
    width: 100%;


}


.event a {
    background-color: #42B373 !important;
    background-image :none !important;
    color: #ffffff !important;
}

.ui-datepicker {
    width:100%;
}

.ui-widget-header {
    background:#268BB9;
    color: #FFFFFF;
    font-weight: bold;
}

.ui-datepicker td span, .ui-datepicker td a {
    padding: 0.2em;
    text-align: center;
}

.ui-datepicker-prev, .ui-datepicker-next
{
    // display: none;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-radius:0px;
}

.ui-widget-content {
    border:none;
}

#datepicker-Inline-sidebar_container
{
    padding: 0.2em;
    text-align: center;
}

#datepicker-Inline-sidebar_container .ui-datepicker table {
    border-collapse: collapse;
    font-size: 10px;
}

#datepicker-Inline-sidebar_container .ui-datepicker .ui-datepicker-title {
    font-size: 10px;
}

#datepicker-Inline-sidebar_container ui-datepicker td span, .ui-datepicker td a {
    padding: 4px;
    text-align: center;
}


.btn {
    font-size: 16px;
}


.calendar-list{
    margin-top:-25px;

}


.calendar-list ul{

    border-bottom: #f0f0f0 solid 1px;

}

.frm-to
{
    background: #f0f0f0;
    float: right;
    font-weight: 300;
    padding: 5px;
    font-size: 14px;
}

.search-list ul li h5
{
    border-bottom:#f0f0f0 solid 1px;
    padding-bottom:10px;
    font-weight: 700;
}

.active2 a{
    background: #398aca none repeat scroll 0 0 !important;
    color: #ffffff !important;
}

.favusers{
    padding-bottom: 3px;
}

.active a{
    background: #f0f0f0 none repeat scroll 0 0;
}

.addfav-btn-listing {
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

span.input-group-btn {
    float: left;
    width: auto;
}

.no_of_accounts_input {
    float: left;
    width: auto;
}

.user-right tr.highlight{
    background: #d9edf7 none repeat scroll 0 0;
}


#repbox {
    margin-right: 0;
}

.repbox{
    background: white none repeat scroll 0 0;
    color: #222;
    float: left;
    height: 350px;
    overflow: auto;
    padding: 0;
    width: 100%;
}


.page{

    text-align:center;
}


.page b{
    font-size:200px;
    color: #f0f0f0;
    line-height: 200px;

}


.user-right.profile-pages .btn-default {
    background-color: #f0f0f0;
    border-color: #ccc;
    color: #333;
    border: 1px solid #e5e5e5;
    margin-top: 0px;
    border-radius: 0px;
    height:40px;
    font-family: 'Lato', sans-serif;
}


.user-right.profile-pages .bootstrap-select
{
    margin-bottom:15px;
}

.user-right ul{
    margin: 0px;
    padding: 0px;
}

.user-right ul li
{
    list-style: none;
}

.icon_counter_red {
    background-color      : #db4f4b;
}

.icon_counter {
    color                 : #fff;
    font-family           : "Arial";
    font-size             : 13px;
    font-weight           : 600;
    position              : absolute;
    padding               : 0px 2px;
    margin-top            : 0px;
    margin-left           : -3px;
    -webkit-border-radius : 3px;
    -moz-border-radius    : 3px;
    border-radius         : 3px;

}

.form-field-textarea {
    border: 1px solid #e5e5e5;
    background: #f0f0f0 none repeat scroll 0 0;
    float: left;
    padding: 10px;
    width: 100%;
}

/*------Model Form CSS--------*/
.model-form .form-field,.model-form .form-field-textarea  {
    background: #f0f0f0 none repeat scroll 0 0;
    margin-bottom: 15px;
}

.model-form .btn-default {
    background-color: #f0f0f0;
    border-color: #ccc;
    color: #333;
    border: 1px solid #e5e5e5;
    margin-top: 0px;
    border-radius: 0px;
    height:40px;
}






.small-box {
    border-radius: 2px;
    display: block;
    margin-bottom: 15px;
    position: relative;
    color: #ffffff;
}

.small-box > .inner {
    padding: 10px;
}

.small-box > .small-box-footer {
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    padding: 3px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 10;
}

.bg-aqua {
    background-color: #00c0ef !important;
}


.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 0;
    white-space: nowrap;
}


.small-box .icon {
    bottom: 5px;
    color: rgba(0, 0, 0, 0.15);
    font-size: 80px;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 0;
}

.bg-green {
    background-color: #00a65a !important;
}

.addfav-btn{
    color:#2e2e2e;
}

.bg-yellow {
    background-color: #f39c12 !important;
    padding: 7px;
}

.small-box a
{
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
}

.users-links{
    width: 100%;
    float: left;
    margin: 0px 0px 40px 0px;
}

.scroll-cont.brands{
    margin-top: 40px;
}


.search-list strong{
    font-size: 20px;
    text-transform: uppercase;
}

.errorMessage { 
    color: #d9534f;
}

.rep-login .errorMessage { 
    color: #000;
}

.stats-tips{
    margin-bottom: 10px;
}


.perpage {
    font-size: 14px;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 0;
}

.perpage span {
    float: left;
    padding-right: 5px;
    padding-top: 4px;
    text-align: right;
}

.topviewall{
    color: #ffffff;
    float: right;
    font-size: 13px;
    font-weight: bold;
    padding-top: 13px;
    text-transform:none;
}

.topviewall:hover
{
    color: #ffffff;
    text-decoration:underline;
}

.cate-bg ul
{
    margin:0px;
    padding:0px;
}

.cate-bg ul li
{
    list-style:none;
    font-size:14px;
}

.cate-bg .eventList
{
    font-size:15px;
    text-transform:uppercase;
    margin-bottom:5px;
}

.login {
    border-left: 1px solid #d9d9d9;
    padding: 11px 18px;
}

.no_of_accounts .btn-default {
    background: #f0f0f0 none repeat scroll 0 0;
    font-size: 35px;
    line-height: 28px;
}
.no_of_accounts_input {
    border-bottom: 1px solid #f0f0f0;
    border-left: medium none;
    border-top: 1px solid #f0f0f0;
    font-size: 20px;
    padding: 5px;
    width:110px;
}

.paidmems
{
    font-size: 15px;
    color:#337ab7;
}

.results tr[visible='false'],
.no-result{
    display:none;
}

.results tr[visible='true']{
    display:table-row;
}

.brand_search{
    margin-top: 27px;
}

a.back {
    background: #231f20 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 25px;
    margin: 0 10px;
    text-transform: uppercase;
}

/*payment style*/
.card-details-cont
{
    border:#F0F0F0 solid 1px;
    width:100%;
    float:left;
    margin-bottom:25px;
    padding-bottom:25px;
}

.card-details-cont span
{
    float:left;
    line-height:29px;
}

.card-details-cont a
{
    text-transform:none;
    font-size:12px;
    text-decoration:underline;
    font-weight:normal;
    padding:0px;
    text-align:left;
}

.card-details-cont a:hover
{
    background:none;
}

.paypal_btn {
  border: medium none;
  width: 200px;
  background: none;
}

.pay-icon{
    margin-bottom: 20px;
}