/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
input.subscription_types {
    display:none; 
}

.subscription-cont.selected{
    /*Opacity*/
    zoom: 1;
    opacity: 0.45;
}

.active-stpe h4{
    color: #FFFFFF;
}

.search-list ul {
    float: none !important;
    margin: 0 !important;
}

.addfav {
    margin-bottom: 9px;
}


.addfav-btn{
    text-align:right;
    background:#f0f0f0;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius:5px;
    padding: 5px;


}


.event a {
    background-color: #42B373 !important;
    background-image :none !important;
    color: #ffffff !important;
}

.ui-datepicker {
    width:100%;
}

.ui-widget-header {
    background:#268BB9;
    color: #FFFFFF;
    font-weight: bold;
}

.ui-datepicker td span, .ui-datepicker td a {
    padding: 0.2em;
    text-align: center;
}

.ui-datepicker-prev, .ui-datepicker-next
{
    // display: none;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-radius:0px;
}

.ui-widget-content {
    border:none;
}

#datepicker-Inline-sidebar_container
{
    padding: 0.2em;
    text-align: center;
}

#datepicker-Inline-sidebar_container .ui-datepicker table {
    border-collapse: collapse;
    font-size: 10px;
}

#datepicker-Inline-sidebar_container .ui-datepicker .ui-datepicker-title {
    font-size: 10px;
}

#datepicker-Inline-sidebar_container ui-datepicker td span, .ui-datepicker td a {
    padding: 4px;
    text-align: center;
}


.btn {
    font-size: 16px;
}


.calendar-list{
    margin-top:-25px;

}


.calendar-list ul{

    border-bottom: #f0f0f0 solid 1px;

}

.frm-to
{
    background: #f0f0f0;
    float: right;
    font-weight: 300;
    padding: 5px;
    font-size: 14px;
}

.search-list ul li h5
{
    border-bottom:#f0f0f0 solid 1px;
    padding-bottom:10px;
    font-weight: 700;
}

.active2 a{
    background: #398aca none repeat scroll 0 0 !important;
    color: #ffffff !important;
}

.favusers{
    padding-bottom: 3px;
}

.active a{
    background: #f0f0f0 none repeat scroll 0 0;
}

.addfav-btn-listing {
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

span.input-group-btn {
    float: left;
    width: auto;
}

.no_of_accounts_input {
    float: left;
    width: auto;
}

.user-right tr.highlight{
    background: #d9edf7 none repeat scroll 0 0;
}


#repbox {
    margin-right: 0;
}

.repbox{
    background: white none repeat scroll 0 0;
    color: #222;
    float: left;
    height: 350px;
    overflow: auto;
    padding: 0;
    width: 100%;
}


.page{

    text-align:center;
}


.page b{
    font-size:200px;
    color: #f0f0f0;
    line-height: 200px;

}


.user-right .btn-default {
    background-color: #f0f0f0;
    border-color: #ccc;
    color: #333;
    border: 1px solid #e5e5e5;
    margin-top: 0px;
    border-radius: 0px;
    height:40px;
}


.user-right .bootstrap-select
{
    margin-bottom:15px;
}

.user-right ul{
    margin: 0px;
    padding: 0px;
}


.user-right ul li
{
    list-style: none;
}