@charset "utf-8";
/* CSS Document */

@media (max-width:767px) {
.hidden-xs {
display:none!important
}
#parentHorizontalTab {
  position: relative;
  top: 0;
  z-index: 7;
}

.navbar-brand
{
	display:block;
}

.navbar-header
{
	background:#dddddd;
}

.col-xs-offset-2 {
	margin-left:16.66666667%
}
h2.resp-accordion {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #c1c1c1;
  border-image: none;
  border-right: 1px solid #c1c1c1;
  border-style: solid;
  border-width: 0 1px 1px;
  font-size: 24px;
  margin: 0;
  padding: 10px 15px;
}
.search-btn
{
	margin-bottom:10px;
}

.resp-tab-active
{
	background:#ffffff;
}

.cate-bg {
  min-height: 150px;
}

.landing-left h2 {
  font-size: 20px;
}

#navbar {
  margin-top: 0px;
}

}
@media (min-width:768px) and (max-width:991px) {
.hidden-sm {
display:none!important
}
#parentHorizontalTab {
  position: relative;
  top: 0;
  z-index: 7;
}
.search-btn
{
	margin-bottom:10px;
}

.cate-bg {
  min-height: 300px;
}

.notes-cont
{
	padding:0px 0px 19px 0px;
}

}
@media (min-width:992px) and (max-width:1199px) {
.hidden-md {
display:none!important
}
.header-row3
{
	width:100%;
	float:left;
	background:#398aca;
	padding:10px 0px 10px 0px;
	height:100px;
}

.landing-left h2 {
  font-size: 27px !important;
}

}
@media (min-width:1200px) {
.hidden-lg {
display:none!important
}
.tab1
{
	background:#398aca !important;
	color:#ffffff;
}

.tab2
{
	background:#65acef !important;
	color:#ffffff;
}

.header-row3
{
	width:100%;
	float:left;
	background:#398aca;
	padding:10px 0px 10px 0px;
	height:100px;
}


}