/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 16 Feb, 2015, 6:47:10 PM
    Author     : ARK-9
*/

.errorMessage{ color: #d9534f;}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control
{
  background-color: #FFF!important;
  cursor: auto!important;
}
.datepicker table tr td span.disabled 
{
  opacity: 0.2;
}
.datepicker table tr td.disabled
{
  opacity: 0.2;
}
//POLL
#poll-form .form-radio,
#portlet-poll-form .form-radio {
  //float: left;
 // width: 2em;
}
#poll-form .pollchoice-id,
#portlet-poll-form .pollchoice-id {
  display: none;
  visibility: hidden;
}

.poll-results {
  margin-bottom: .5em;
  overflow: hidden;
}
.poll-results .label {
  font-weight: bold;
}
.poll-results .bar {
  background-color: #FFF;
  width: 20%;
  height: 1em;
/*  margin: .5em 0;*/
}
.poll-results .bar .fill {
  background-color: #298DCD;
  height: 1em;
}
.poll-results .totals {
  text-align: right;
}


.poll-item {
  position: relative;
}
.poll-item .poll-id {
  //color: #dedede;
  //font-size: 24px;
 // font-weight: bold;
  position: absolute;
 // right: 5px;
 // top: 5px;
}

.optinews-left-bg.polls-bg {
  padding: 10px;
}

#portlet-poll-form label {
    font-size : 13px;
    font-weight: 400;
        
}

.ads_active {
    background-color: #c0cedd;
}

.hint-ads_active {
    color: #c0cedd;
}